@import url('./includes/navbar.css');
@import url('./includes/footer.css');
@import url('./about.css');
@import url('./blog.css');
*:focus {
    outline: none;
  }
  
 
  
 .container-mw-100{
     max-width: 100%;
     padding:0 30px
 }
  .mb-40{
    margin-bottom: 40px;
  }
  #container #category-section {
    background-color: transparent;
  }
  
  #article-section > p {
    color: grey;
  }
  
  .article-multiple-image-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  
  .article-multiple-image-section img {
    width: 100%;
  }
  
  .quote {
    padding: 20px;
    border: 3px solid #2dbbf0;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;
  }
  
  .quote .quote-content {
    font-size: 20px;
  }
  
  .quote .quote-author {
    font-size: 14px;
  }
  
  #article-link-section {
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
   
            justify-content: flex-start;
    
        -ms-flex-align: center;
            align-items: center;
  }
  
  #article-link-section .article-link {
    display: block;
    border: 1px solid #d3d1d1;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px 20px;
    text-decoration: none;
    color: grey;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  
  #article-link-section .article-link:hover {
    color: black;
    text-decoration: underline;
    border-color: black;
  }
  
  #comment-section #comment-title {
    font-size: 25px;
    text-align: center;
  }
  
  #comment-section #comment-description {
    color:#979797;
    text-align: center;
    margin-bottom: 15px;
  }
  
  #comment-section .text-area-div {
    margin-bottom: 10px;
  }
  
  #comment-section .text-area-div textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ebebeb;
    border-radius: 3px;

  }
  
  #comment-section .text-area-div textarea:focus {
    outline: none;
  }
  
  #comment-section .input-div {
    position: relative;
    margin-right: 10px;
    width: 100%;
    border: 1px solid #ebebeb;

  }
  
  #comment-section .input-div:last-child {
    margin-right: 0;
  }
  
  #comment-section .input-div span {
    position: absolute;
    left: 20px;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
    background-color: white;
    padding: 0 5px;
    color: #979797;
    
  }
  .mt-50{
      margin-top: 40px;
  }
  #comment-section .input-div input {
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 3px;

    padding: 10px;
  }
  
  #comment-section .inputs-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #contact-top .about-bg-img {
    position: relative;
    background: url(../images/shop-bg.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 430px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#contact-top .center-text-title {
    font-size: 40px;
    line-height: 1;
    font-weight: 200;
    font-style: normal;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-family: "GT Walsheim Pro Thin,sans-serif";
    letter-spacing: 0px;
}

#contact-top .center-text-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-top .center-text-links li a {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    font-style: normal;
    color: #000;
    text-decoration: none;
}

#contact-top .center-text-links li:first-child::after {
    display: inline-block;
    margin: 0 8px;
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #868686;
    transform: rotate(45deg);
    border-width: 1px 1px 0 0;
    border-color: #000;
}
.footer-post{
    margin-bottom: 50px;
}
.post-navigation{
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.post-navigation .nav-previous{
    padding: 5px 0;
    text-align: left;
}
.post-navigation .nav-links a {
    display: flex;
    flex-direction: column;
    max-width: 300px;
text-align: left;}
.post-navigation .nav-links a .post_nav-text {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color:#979797;
    display: block;
}
.post-navigation .nav-links a .nav-post-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color:#0d0707;
    text-decoration: none;
    display: block;
}

.footer-post{
  margin-bottom: 50px;
 text-align: center;
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.footer-post a{
  display: flex;
    flex-direction: column;
    max-width: 300px;
    word-wrap: break-word;
    color:#0d0707;
    text-align: left;
    text-decoration: none;

}


.footer-post a span.first-span{
text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color:#979797;
line-height: 28px;
}
.footer-post a span.second-span{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  color:#0d0707;
  
  }

.comment-form-cookies{
  text-align: center;
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.comment-form-cookies input{

box-sizing: border-box;
    padding: 0;
    margin-top: -2px;
    margin-right: 5px;
    vertical-align: middle;
}
.comment-form-cookies input
{
  margin-bottom: 0;
  text-align: center;
  color:#979797;
}
.form-submit{
  margin-bottom: 23px;
  text-align: center;
}
.form-submit input{
  border-radius: 3px;
  width: 200px;
    border: none;
    background: #000;
    color: #fff;
    height: 50px;
    padding: 13px 20px;
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

#article-section,#category-section{
  padding:0 15px;
}
#category-section{
  padding-left: 22px;
}
 .right .search {
  text-align: center;
}

 .right .search input {
  padding: 13px 50px;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
}

 .right .search button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

 .right .search button:hover {
  background-color: cyan;
}

 .right .search button i {
  color: white;
}

 .right .categories h1 {
  font-size: 20px;
  font-weight: 600;
}

 .right .categories i {
  color: #9d9d9d;
}

 .right .categories a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-left: 10px;
}

 .right .post h1 {
  font-size: 20px;
  font-weight: 600;
}

 .right .post h5 {
  font-size: 17px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

 .right .post h5:hover {
  color: cyan;
}

 .right .post p {
  font-size: 13px;
}

 .right .news {
  text-align: center;
  background-color: #e4e4e4;
}

 .right .news .btn input {
  padding: 13px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

 .right .news .btn button {
  padding: 18px 10px;
  border: none;
  border-radius: 2px;
  font-size: 10px;
  color: white;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

 .right .news .btn button:hover {
  background-color: cyan;
}

 .right .meta h1 {
  font-size: 25px;
}

 .right .meta h4 {
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

 .right .meta h4:hover {
  color: cyan;
}

 .right .tags h1 {
  font-size: 25px;
}

 .right .tags .btns button {
  border: 1px solid darkgray;
  padding: 7px 15px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

 .right .tags .btns button:hover {
  border-color: black;
}

.right .eti img{
  width:100px;
  height: 100px;
}
  @media (min-width: 900px) {
    .article-multiple-image-section {
      -ms-grid-columns: auto auto;
          grid-template-columns: auto auto;
      grid-column-gap: 15px;
    }
  }

@media (max-width:767px){
  #contact-top .about-bg-img {
    height: auto;
    min-height: 120px;
    padding: 20px 0;

}

#contact-top .center-text-title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
}

#contact-top .center-text-links li a {
    font-size: 14px;
    line-height: inherit;
}
}

@media (max-width:575px) {


#contact-top .center-text-title {
    margin-bottom: 6px;
}
}
  